<h1 class="title">How to Buy</h1>

<main class="container">
  <section class="content">
    <h2 class="subtitle">Create a Wallet</h2>
    <p>
      Download MetaMask or your wallet of choice from the app store or Google
      Play Store for free. Desktop users, download the Google Chrome extension
      by going to metamask.io.
    </p>
  </section>

  <section class="content">
    <h2 class="subtitle">Get Some ETH</h2>
    <p>
      Have ETH in your wallet to switch to $MSC. If you don’t have any ETH, you
      can buy directly on MetaMask, transfer from another wallet, or buy on
      another exchange and send it to your wallet.
    </p>
  </section>

  <section class="content">
    <h2 class="subtitle">Buy on Uniswap</h2>
    <p>
      To buy Memecoin Super Cycle, you can use the Uniswap decentralized
      exchange. Uniswap is a popular platform for trading cryptocurrencies and
      is known for its ease of use and low fees.
    </p>
  </section>
</main>
