<section>
  <h1 class="title">Memecoin Super Cycle</h1>
</section>
<main class="container-grid">
  <section class="item-grid-description">
    <p class="description">
      $MSC - The next generation memecoin powered by community and memes. Join
      the super cycle and ride the wave to the moon! 🚀 Built on Ethereum with
      deflationary tokenomics and maximum memetic potential.
    </p>
  </section>
  <section class="item-grid-face">
    <img src="assets/face.png" alt="Face" class="face-logo" />
  </section>
  <section class="item-grid-uniswap">
    <img src="assets/uniswap.png" alt="Uniswap" class="uniswap-logo" />
  </section>
  <section class="item-grid-etherscan">
    <img
      src="assets/etherscan-logo.png"
      alt="Etherscan"
      class="etherscan-logo"
    />
  </section>
</main>
