<header>
  <h1 class="title">Memecoin Super Cycle</h1>
</header>
<main class="container-grid">
  <section class="item-grid-description">
    <p class="description">
      $MSC - The next generation memecoin powered by community and memes. Join
      the super cycle and ride the wave to the moon! 🚀 Built on Base with
      deflationary tokenomics and maximum memetic potential.
      <br />
      Smart contract of token: 0x0a13309aBF706D0F658E36B72595060b2506666a
    </p>
  </section>
  <section class="item-grid-face">
    <img src="assets/face.png" alt="Face" class="face-logo" />
  </section>
  <section class="item-grid-uniswap">
    <a
      href="https://app.uniswap.org/"
      target="_blank"
      rel="noopener noreferrer"
      class="uniswap-link"
    >
      <img src="assets/uniswap.png" alt="Uniswap" class="uniswap-logo" />
    </a>
  </section>
  <section class="item-grid-basescan">
    <a
      href="https://basescan.org/address/0x0a13309aBF706D0F658E36B72595060b2506666a"
      target="_blank"
      rel="noopener noreferrer"
      class="basescan-link"
    >
      <img
        src="assets/basescan-logo.png"
        alt="Basescan"
        class="basescan-logo"
      />
    </a>
  </section>
</main>
