<section class="container-about">
  <section class="item-about-title">
    <h1>About</h1>
  </section>
  <section class="item-about-description-one">
    <p>
      Welcome to $MSC - Memecoin Super Cycle! Our mission is to redefine the
      memecoin landscape with the power of community and humor. Embark on this
      blockchain technology, $MSC features deflationary tokenomics and
      unparalleled memetic innovation, setting a new standard in the world of
      memecoins.
    </p>
  </section>
  <section class="item-about-description-two">
    <p>
      The community of Memecoin Super Cycle ($MSC) is vibrant, diverse, and
      driven by a shared passion for memes and blockchain technology. Our
      members are dedicated to fostering a positive and inclusive environment
      where creativity and innovation thrive. Join us and be part of a movement
      that values humor, collaboration, and the power of decentralized finance.
    </p>
  </section>
  <section class="item-about-pepe">
    <img src="assets/pepe-medium.png" alt="Pepe" class="pepe" />
  </section>
</section>
