.wallet-header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.wallet-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 20px;
  background: #f9a707;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
}

.wallet-button:hover {
  background: #dd7f02;
}

.wallet-button.connected {
  background: #f9a707;
  border-color: #ffc920;
}

.wallet-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.faucet-content {
  padding: 4rem;
  text-align: center;
  margin: 0 8rem;
  background-color: #f9a707;
  border-radius: 20px;
}

.faucet-title {
  font-size: clamp(1.5rem, 1.1341rem + 1.561vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
  font-weight: 800;
  text-align: center;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.faucet-message {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
}

.faucet-input {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: 50%;
  font-size: clamp(1rem, 0.9268rem + 0.3122vw, 1.2rem);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
}

.faucet-input:focus {
  outline: none;
}

.request-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: 50%;
  font-size: clamp(1rem, 0.9268rem + 0.3122vw, 1.2rem);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .faucet-content {
    margin: 0 2rem;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .faucet-input {
    width: 80%;
  }
  .request-button {
    width: 80%;
  }
}
